# Owais Dhukka 13

## Assignment - 06

##### 1. Create a Pandas DataFrame from the following dataset:
##### Name Age Salary Department
##### John 25 50000 HR
##### Alice 30 70000 IT
##### Bob 35 60000 Finance
##### Carol 28 65000 Marketing
##### David 40 80000 IT
###### • Display the first and last two rows of the DataFrame.
###### • Retrieve the Salary column and compute its mean and standard deviation.
###### • Filter employees who are older than 30 and belong to the IT department.
###### • Add a new column Bonus where the bonus is 10% of the salary.

In [ ]:
import pandas as pd

###### Step 1: Create the DataFrame

In [ ]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'Carol', 'David'],
    'Age': [25, 30, 35, 28, 40],
    'Salary': [50000, 70000, 60000, 65000, 80000],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'IT']
}

In [ ]:
df = pd.DataFrame(data)

###### Step 2: Display the first and last two rows

In [ ]:
print("First two rows:")
print(df.head(2))

print("\nLast two rows:")
print(df.tail(2))

First two rows:
,    Name  Age  Salary Department
,0   John   25   50000         HR
,1  Alice   30   70000         IT
,
,Last two rows:
,    Name  Age  Salary Department
,3  Carol   28   65000  Marketing
,4  David   40   80000         IT

###### Step 3: Retrieve Salary column and compute mean and std deviation

In [ ]:
salary = df['Salary']
print("Salary Mean:", salary.mean())
print("Salary Standard Deviation:", salary.std())

Salary Mean: 65000.0
,Salary Standard Deviation: 11180.339887498949

###### Step 4: Filter employees older than 30 in IT department

In [ ]:
filtered = df[(df['Age'] > 30) & (df['Department'] == 'IT')]
print("Employees older than 30 in IT Department:")
print(filtered)

Employees older than 30 in IT Department:
,    Name  Age  Salary Department
,4  David   40   80000         IT

###### Step 5: Add a Bonus column (10% of Salary)

In [ ]:
df['Bonus'] = df['Salary'] * 0.10
print("DataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
,    Name  Age  Salary Department   Bonus
,0   John   25   50000         HR  5000.0
,1  Alice   30   70000         IT  7000.0
,2    Bob   35   60000    Finance  6000.0
,3  Carol   28   65000  Marketing  6500.0
,4  David   40   80000         IT  8000.0