### OWAIS DHUKKA RollNo.13

### Importing

In [ ]:
import sqlite3

### Connecting to datbase

In [ ]:
import os
if not os.path.exists("/content/genericDatabase.db"):
    open("/content/genericDatabase.db", "w").close()

connection = sqlite3.connect('/content/genericDatabase.db')
cursor = connection.cursor()

### Create Table

In [ ]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')
connection.commit()

## CRUD Operations

### Create (Insertion)

In [ ]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age)
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
,Record added successfully!

### Read (Retrive)

In [ ]:

def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
,(1, 'Griffith', 20)
,(2, 'Guts', 22)

### Update

In [ ]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students
        SET age = ?
        WHERE id = ?
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(1, 21)  # Updating student with ID 1 to age 21
read_students()

Student age updated successfully!
,Student Records:
,(1, 'Griffith', 21)
,(2, 'Guts', 22)

### Delete

In [ ]:
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students
        WHERE id = ?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)
read_students()

Student deleted successfully!
,Student Records:
,(1, 'Griffith', 21)

### Closing the database connection

In [ ]:
connection.close ()